body{
    background-color: #111828;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif
}

header, footer{

    gap: 30%;
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: #030617;
}

nav a{
    
    margin: 10px;
    color: white;
    text-decoration: none;
}

footer{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    
}

.color-yellow{
    color: yellow;
}

.color-white{
    color: white;
}

.font-size-21p{
    font-size: 21px;
}

.bold{
    font-weight: bold;
}

.centralize{
    margin: 10% 0;
}

.button{
    padding: 7px;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    background-color: yellow;

}

.gray-color{
    color: #696e79;
}

.text-justify{
    text-align: justify;
}

.font-weight-600{
    font-weight: 600;
};

.font-size-15p{
 
    font-size: 15px;
}