<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="../../css/default.css">
        <link rel="stylesheet" href="./curriculum.css">
    </head>

    <header>

        <a href="../../../index.html" class="about-me">
            <span>About</span>
            <span class="color-yellow">Me.</span>
        </a>

        <nav>
            <a href="../../../index.html">HOME</a>
            <a href="./curriculum.html">CURRICULUM</a>
        </nav>

    </header>

    <main>

        <section>
            <h2>
                <label class="color-white">My</label>
                <label class="color-yellow">Experience</label>
            </h2>
            <span class="gray-color text-justify font-weight-600 font-size-15p"> These were my last experiences working as a software developer.</span>
        </section>
        
        <article>

            <div class="card-container">

                <h4>23/07/2020 - 06/12/2021</h4>
                <h3>PROJERE Consultoria</h3>
                <h4>Developer</h4>
                <p>Software developer using CSharp with ASP .Net, JavaScript and SQL. In addition to working as a developer, I worked with customer support.</p>
                
            </div>

            <div class="card-container">

                <h4>07/12/2021 - 30/01/2025</h4>
                <h3>APP Sistemas</h3>
                <h4>Developer</h4>
                <p>Software developer using CSharp Core and .NetFramework, JavaScript with Angular, SQL Server and Cosmo. 
                    I have had contact with the Azure broker (service bus), event-driven programming, messaging, microservices. I have experience working with scrum and kanban.</p>
                
            </div>

        </article>

        <section>
            <h2>
                <label class="color-white">Academic</label>
                <label class="color-yellow">Background</label>
            </h2>
            <span class="gray-color text-justify font-weight-600 font-size-15p"> This is some of my academic information.</span>
        </section>
        
        <article>

            <div class="card-container">

                <h4>01/06/2016 - 01/12/2017</h4>
                <h3>Etec Philadelpho Gouvea Netto</h3>
                <h4>System developments - Technical Course</h4>
                <p>I had contact with the programming languages ​​Java, JavaScript, PHP, CSharp, SQL. In addition to these languages, I developed skills with hardware and servers.</p>
                
            </div>

            <div class="card-container">

                <h4>01/02/2019 - 01/01/2020</h4>
                <h3>SENAC</h3>
                <h4>Digital Game Programming - Technical Course</h4>
                <p>I developed skills in the digital game development process, from storytelling to creating the art and programming the game. I had contact with CSharp and SQL languages. I used tools such as Unity and Photoshop.</p>
                
            </div>

            <div class="card-container">

                <h4>01/02/2024 - 01/06/2024</h4>
                <h3>SENAC</h3>
                <h4>Basic English</h4>
                <p>I developed basic English communication, writing and reading skills.</p>
                
            </div>

            <div class="card-container">

                <h4>01/09/2024 - 25/02/2025</h4>
                <h3>SENAC</h3>
                <h4>Intermediate English</h4>
                <p>I'm developing intermediate English communication, writing and reading skills.</p>
                
            </div>

            <div class="card-container">

                <h4>01/02/2022 - Studying</h4>
                <h3>Unip</h3>
                <h4>Systems analysis and development - University</h4>
                <p>Studying systems analysis and development with completion scheduled for 2025.</p>
                
            </div>

        </article>

    </main>

    <footer>
        <a href="https://www.linkedin.com/in/matheus-alves-paulino-0a3977210" target="_blank">
            <img src="../../image/icons/linkedin.png" alt="footer">
            @MatheusAlvesPaulino</a>
    </footer>
</html>